.player-color {
  background-color: #33ceff;
}

.player-area {
  background-color: #0789b2;
  background-image: url(images/chip.svg);
}

.player-card .power {
  background-image: url(images/shield.svg);
}

/* Hacker Styles */

.hacker-color {
  background-color: #e42b1f;
}

.hacker-area {
  background-color: #b9261b;
  background-image: url(images/chip.svg);
}

.hacker-card .power {
  background-image: url(images/skull.svg);
}
